# Base de données
ANSIBASE_DB_HOST=localhost
ANSIBASE_DB_PORT=5432
ANSIBASE_DB_NAME=ansibase
ANSIBASE_DB_USER=ansibase
ANSIBASE_DB_PASSWORD=ansibase

# Chiffrement (clé utilisée par pgcrypto)
ANSIBLE_ENCRYPTION_KEY=XXXXXXXXXXXXXXXXX

# Utilisateur admin par défaut
ANSIBASE_ADMIN_USERNAME=admin
ANSIBASE_ADMIN_PASSWORD=admin
